@import "~bootstrap/scss/bootstrap";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/bootstrap";
$h3-bg-color: tan;
$padding-icons: 9px;

$theme-colors: #ff4136;

body {
  width: 100%;
  height: 100%;
}

.container {
  margin-top: 100px;
}

h1 {
  color: $theme-colors;
}

.item-list {
  font-size: 30px;
}
.done {
  text-decoration: line-through;
}
.red {
  background-color: orangered;
}

.remove,
.complete {
  float: right;
  padding-top: $padding-icons;
  font-size: 35px;
  color: $theme-colors;
}
